.account-grid {
 display: grid;
 grid-template-columns: 1fr 1fr; 
 gap: 15px 20px;
}

.grid-span-2 {
 grid-column: 1 / -1; 
}

.form-actions {
grid-column: 1 / -1; 
display: flex;
justify-content: center; 
gap: 2rem;
flex-wrap: wrap; 
padding: 0.5rem;
}

.form-actions .btn {
 margin: auto;
 gap: 5rem;
}

.form-actions .btn--danger {
    margin: auto;
    gap: 5rem;
}

/* Usamos el ID de la ventana de di치logo para m치xima especificidad */
#delete-confirm-modal .form__title { 
padding: 0.5rem 1rem; 
}


#delete-confirm-modal .p_subtle {
    padding: 1rem 1rem;
}

#close-delete-modal .btn--secondary {
   color:green;
}

/* --- Responsive para el formulario --- */
@media (max-width: 600px) {
 /* El formulario pasa a 1 sola columna */
 .account-grid {
  grid-template-columns: 1fr;
 }

 /* En 1 columna, ya no necesitamos que nada ocupe 2 */
 .grid-span-2 {
  grid-column: auto;
 }

 .form-actions {
  grid-column: auto;
 }

 /* En m칩vil, el bot칩n de eliminar ya no se alinea a la derecha */
 .form-actions .btn--danger {
  margin-left: 0;
 }

}

