.success-container {

    display: grid;
    place-items: center;
   
    min-height: calc(100vh - 64px - 50px); 
    padding: 20px;
}

.success-card {
    max-width: 720px;
    text-align: center; 
    padding: 40px 20px; 
}

.success-card h1 {
    margin-bottom: 5px; 
    color: var(--color-texto-principal); 
    font-size: clamp(22px, 4vw, 32px);
    font-weight: bold;
}

.p_subtle {
    margin-top: 5px; 
    margin-bottom: 20px; 
}

.success-icon {
    font-size: 3em;
    color: var(--color-exito);
    margin-bottom: 15px;
}

.success-button-wrap {
    margin-top: 30px;
}