<footer class="nt-footer">
  <div class="footer__inner">
    <p>© 2025 NutriTrack. Todos los derechos reservados.</p>
    <div class="footer-social">
      <a href="https://facebook.com" target="_blank">
        <img src="../assets/icons/Facebook.svg" alt="Facebook" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="../assets/icons/Instagram.svg" alt="Instagram" />
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="../assets/icons/Twitter.svg" alt="Twitter" />
      </a>
      <a href="https://linkedin.com" target="_blank">
        <img src="../assets/icons/LinkedIn.svg" alt="LinkedIn" />
      </a>
    </div>
  </div>
</footer>